################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Linked/ConsoleApplication1/Debug
/Linked/ConsoleApplication1/x64/Debug
/Linked/.vs/ConsoleApplication1/v16/Preview
